<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
      <h1><%= title %></h1>
    <form method="POST" action="">
      <div class="form-input">
        <h2>New Message</h2>
        <label
          ><div class="form-label">Message</div>
          <input
            type="text"
            name="message"
            required="true"
            value="<%= typeof message !== 'undefined' ? message.message : '' %>"
          />
        </label>
            </br>
        <label>
          <div class="form-label">User</div>
           <input type="text" name="user"
           required="true" value="<%= typeof message !== 'undefined' ? message.user : '' %>" />
        </label>
            </br>
  
      <button class="form-button">Submit</button>
    </div>
    </form>
  </body>
</html>
